@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body,html {
    width: 100vw;
    height: 100vh;
    background-color: rgb(127, 210, 255);
}

header {
    width: 100vw;
    height: 10vh;
    padding-top: 10px;
}

 header > h1 {
    width: 153px;
    margin: auto;
}

main {
    width: 100vw;
    height: 70vh;
}

main > section {
    display: block;
    margin: auto;
    padding: 10px;
    width: 500px;
    height: 350px;
    border-radius: 20px;
    background-color: white;
}

footer {
    width: 100vw;
    height: 18vh;
}

footer p {
    margin: auto;
    width: 140px;
    font-weight: bold;
    font-style: italic;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}