@charset "UTF-8";

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #5252d3;
}

header {
    width: 100vw;
    height: 13vh;
    padding-top: 20px;
}

header > h1 {
    font-size: 3em;
    color: white;
    text-align: center;
}

main {
    width: 100vw;
    height: 68vh;
}

main > section {
    max-width: 500px;
    min-width: 300px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.422);
    background-color: #ffffff;
}

footer {
    width: 100vw;
    height: 13vh;
}

footer > p {
    text-align: center;
    font-style: italic;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
}